.promotional-product,.block-products-list,.slider{
    width: 90vw;
    margin-left: auto;
    margin-right: auto;
}

.products-grid .product-item-info:hover{
    border: none;
    margin: unset;
    padding: unset;
}
/* Extra small devices (phones) */
@media (max-width: 600px) {
    .promotional-product,.block-products-list,.slider{
        width: 85vw;
    }    
} 
