.promotional-product,.block-products-list,.slider,#footer{
    width: 95vw;
    margin-left: auto;
    margin-right: auto;
}

.products-grid .product-item-info:hover{
    border: none;
    margin: unset;
    padding: unset;
}
/* Extra small devices (phones) */
@media (max-width: 756px) {
    .promotional-product,.block-products-list,.slider,#footer{
        width: 90vw;
    }    
    

} 
